version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-1604:202007-01 # we want a new Docker
    environment:
      DOCKER_BUILDKIT: 1
      BUILDX_PLATFORMS: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x,linux/386,linux/arm/v7,linux/arm/v6
    steps:
      - checkout
      - run:
          name: Build Image
          command: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

